.button {
  all: unset;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  transition: background-color .5s ease;
}

.button_search {
  margin-top: 20px;
  padding: 12px 10px;
  width: 500px;
  border: 1px solid rgba(225, 225, 225, 1);
  background: inherit;
}

.button:disabled {
  opacity: 30%;
  cursor: unset;
}

.button_search:not([disabled]):hover,
.button_search:active {
  background-color: #02111d;
}

@media screen and (max-width: 700px) {
  .button_search {
    width: 300px;
  }
}