.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1000px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding: 10px;
  color: #061b2c;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
  background-color: #4f7696;
  border: none;
  border-radius: 10px;
}

.input:focus {
  outline: 1px solid rgba(225, 225, 225, 1);
}

.input::placeholder {
  color: #061b2c;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 17px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #4f7696 inset !important;
}

.input__label {
  align-self: flex-start;
  margin: 0 0 10px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 360px) {
  .input__label {
    font-size: 18px;
    line-height: 20px;
  }
}